@import "../vendor/variables"

.table-header, .table-column
  &:last-child, &:first-child
    width: 10%

.table__text--first, .table__checkbox
  display: inline

.table-header:last-child, .table__date
  text-align: right

.table-header:first-child, .table-header:nth-child(2)
  text-align: left

.table-cell:last-child, .table-column:last-child
  border: none

.table-header:first-child, .table-column:first-child
  text-align: center

.table
  width: 100%
  color: $color-black
  border-collapse: collapse

.table-header
  padding: 2rem 0 2rem 1.5rem
  color: $color-black

.table-cell
  border-bottom: 1px solid $color-gray

.table-column
  padding: 2rem 0
  border-right: 1px solid $color-gray

.table__text
  padding-left: 1rem
  text-overflow: ellipsis

  &--first
    margin-left: 0

.table__date
  font-size: 1.5rem

@media (max-width: $media-xl)
  .table-column:nth-child(2)
    width: 30%

  .table-header:last-child, .table__date
    text-align: center


