@import "../vendor/variables"

.btn
  border-radius: 0.3rem
  border: 0.3rem solid transparent
  color: white
  padding: 0.5rem 1rem
  text-align: center
  transition: $common-transition
  white-space: nowrap

  &:hover
    background-color: $btn-success-hover

  &--success
    background-color: $btn-success

  &--primary
    background-color: $btn-primary

  &--danger
    background-color: $btn-danger
